* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 10px double darksalmon;
    color: rgb(127, 24, 127);
    font-size: 32px;
    padding: 1.5em;
    margin: 3rem auto;
    outline: 5px solid palevioletred;
}

h2,h3,h4,h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    border: 2px darkgoldenrod;
    font-size: 12px;
    padding: 1.5em;
    margin: 1.0rem;
    outline: 3px solid palevioletred;
    outline-offset: -10px;
}

p {
    line-height: 2.0;
}

ol {
    line-height: 2.0;
}

body {
    font-size:large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

