body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}

header {
    background-color: bisque;
    display: flex;
    align-items: baseline;
    padding: 2rem;
    gap: 1rem;
}

.link {
    background: none;
    border-color: black;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
    position: relative;
}

.link:hover {
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    padding: 1rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: #777;
    text-align: justify;
    display: block;
    padding: 8px 12px;
}

.dropdown-content a:hover {
    background-color: bisque;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    margin: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
}

h2 {
    margin-top: 0;
    color: rgb(20, 19, 18);
}

ol {
    font-style: italic;
    line-height: 1.5;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: justify;
}

/* Normal Link Style */
.normal-link {
    color: blue;
    text-decoration: none;
}

/* Visited Link Style */
.visited-link {
    color: purple;
}

/* Hover Link Style */
.hover-link:hover {
    color: red;
    text-decoration: underline;
}

/* Active Link Style */
.active-link:active {
    color: green;
}
